  <div class="row">
    <div class="col-md-3">
      <div class="card db-card">
        <h5 class="card-header text-fin"><span><i class="fa fa-users"></i></span> Members </h5>
        <div class="card-body text-light">
          <p class="card-text"> All members:</p>
          <p class="card-text"><%= @member_count %></p>
          <p class="card-text"> Active members:</p>
          <p class="card-text"> <%= @active_members %></p>
        </div>
        <div class="card-footer text-center">
          <a href="#" class="btn btn-secondary text-fin">View</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card db-card">
        <h5 class="card-header text-fin"><span><i class="fa fa-hand-holding-usd"></i></span> Loans </h5>
        <div class="card-body text-light">
          <p class="card-text">All loans:</p>
          <p class="card-text"><%= @loan_count %></p>
          <p class="card-text">Total loan amount:</p>
          <p class="card-text"><%= number_to_currency(@total_loan_amount, unit: "₱") %></p>
        </div>
        <div class="card-footer text-center">
          <a href="#" class="btn btn-secondary text-fin">View</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card db-card">
        <h5 class="card-header text-fin"><span><i class="fa fa-dollar-sign"></i></span> Payments </h5>
        <div class="card-body text-light">
          <p class="card-text">Received today:</p>
          <p class="card-text"><%= number_to_currency(@total_payments_today, unit: "₱") %></p>
          <p class="card-text">Total payment amount:</p>
          <p class="card-text"><%= number_to_currency(@total_payment_amount, unit: "₱") %></p>
        </div>
        <div class="card-footer text-center">
          <a href="#" class="btn btn-secondary text-fin">View</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card db-card">
        <h5 class="card-header text-fin"><span><i class="fa fa-dollar-sign"></i></span> Receivables </h5>
        <div class="card-body text-light">
          <p class="card-text">Received today:</p>
          <p class="card-text"><%= number_to_currency(@total_payments_today, unit: "₱") %></p>
          <p class="card-text">Total payment amount:</p>
          <p class="card-text"><%= number_to_currency(@total_payment_amount, unit: "₱") %></p>
        </div>
        <div class="card-footer text-center">
          <a href="#" class="btn btn-secondary text-fin">View</a>
        </div>
      </div>
    </div>
  </div>
