<h1>Loan Types</h1>
<table class="table">
  <thead>
    <tr>
      <th>Loan Type Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @loan_types.each do |loan_type| %>
      <tr>
        <td><%= loan_type.loan_type_name %></td>
        <td><%= link_to 'Show', loan_type %></td>
        <td><%= link_to 'Edit', edit_loan_type_path(loan_type) %></td>
        <td><%= link_to 'Destroy', loan_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Loan Type', new_loan_type_path, class: "btn btn-primary" %>
