<%= form_with(model: loan, local: true) do |form| %>
  <% if loan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(loan.errors.count, "error") %> prohibited this loan from being saved:</h2>
      <ul>
        <% loan.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group bg-dark rounded p-3">
  <div class="form-row">
  <div class="form-group col-md-4">
    <%= form.label :control_number %>
    <%= form.text_field :control_number, class: 'form-control', readonly: true %>
  </div>

    <div class="form-group col-md-4">
    <%= form.label :member_id %>
    <%= form.collection_select :member_id, Member.order(member_id: :desc).all, :id, :full_name, { prompt: 'Select Member' }, { class: 'form-control' } %>
  </div>

    <div class="form-group col-md-4">
    <%= form.label :processed_by %>
    <%= form.collection_select :processed_by, User.all, :id, :name, { prompt: 'Select Processor' }, class: 'form-control' %>
  </div>
  </div>

<div class="form-row">
<div class="form-group col-md-3">
    <%= form.label :loan_type_id, "Type" %>
    <%= form.collection_select :loan_type_id, LoanType.all, :id, :loan_type_name, { prompt: 'Select Loan Type' }, { class: 'form-control', id: 'loan_type_id', data: { loan_durations: LoanType.all.map { |lt| [lt.id, lt.duration] }.to_h.to_json } } %>
  </div>  

  <div class="form-group col-md-3">
    <%= form.label :loan_duration, "Duration" %>
    <%= form.text_field :loan_duration, class: 'form-control', id: 'loan_duration', readonly: true %>
  </div>

  <div class="form-group col-md-3">
    <%= form.label :loan_amount, "Principal Amount" %>
    <%= form.number_field :loan_amount, class: 'form-control' %>
  </div>

  <div class="form-group col-md-3">
    <%= form.label :loan_balance, "Balance" %>
    <%= form.number_field :loan_balance, class: 'form-control' %>
  </div>




</div>
<div class="form-row">
  <div class="form-group col-md-2">
    <%= form.label :loan_status, "Status" %>
    <%= form.select :loan_status, [['Pending', 0], ['Approved', 1], ['Rejected', 2]], {}, class: 'form-control' %>
  </div>

<div class="form-group col-md-5">
    <%= form.label :purpose %>
    <%= form.text_area :purpose, class: 'form-control', rows: 1 %>
  </div>

  <div class="form-group col-md-5">
    <%= form.label :remarks %>
    <%= form.text_area :remarks, class: 'form-control', rows: 1 %>
  </div>
</div>




  <div class="actions">
    <%= form.submit "Submit", class: 'btn btn-fin' %>
  </div>
  </div>
<% end %>
