<h1>Loans</h1>
<table class="table">
  <thead>
    <tr>
      <th>Control Number</th>
      <th>Member</th>
      <th>Loan Type</th>
      <th>Loan Amount</th>
      <th>Loan Duration</th>
      <th>Loan Status</th>
      <th>Mode of Payment</th>
      <th>Purpose</th>
      <th>Remarks</th>
      <th>Processed By</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @loans.each do |loan| %>
      <tr>
        <td><%= loan.control_number %></td>
        <td><%= loan.member.full_name %></td>
        <td><%= loan.loan_type.loan_type_name %></td>
        <td><%= loan.loan_amount %></td>
        <td><%= loan.loan_duration %></td>
        <td><%= loan.loan_status %></td>
        <td><%= loan.mode_of_payment.humanize %></td>
        <td><%= loan.purpose %></td>
        <td><%= loan.remarks %></td>
        <td><%= loan.processed_by.present? ? User.find(loan.processed_by).email : "N/A" %></td>
        <td><%= link_to 'Show', loan %></td>
        <td><%= link_to 'Edit', edit_loan_path(loan) %></td>
        <td><%= link_to 'Destroy', loan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Loan', new_loan_path, class: "btn btn-primary" %>
