<%= form_with(model: payment, local: true) do |form| %>
  <% if payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>
      <ul>
        <% payment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :payment_reference_number %>
    <%= form.text_field :payment_reference_number, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= form.label :member_id %>
    <%= form.collection_select :member_id, members, :id, :name, {prompt: "Select a member"}, {class: 'form-control'} %>
  </div>

  <div class="form-group">
    <%= form.label :date %>
    <%= form.date_field :date, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :payment_amount %>
    <%= form.number_field :payment_amount, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :payment_status %>
    <%= form.text_field :payment_status, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :review_by %>
    <%= form.number_field :review_by, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
