<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-secondary sidebar collapse">
  <div class="sidebar-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <%= link_to root_path, class: "nav-link sidebar-link" do %>
            <i class="fas fa-tachometer-alt"></i>
            Dashboard
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to members_path, class: "nav-link sidebar-link" do %>
            <i class="fas fa-users"></i>
            Members
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to loans_path, class: "nav-link sidebar-link" do %>
            <i class="fas fa-hand-holding-usd"></i>
            Loans
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to payments_path, class: "nav-link sidebar-link" do %>
            <i class="fas fa-credit-card"></i>
            Payments
        <% end %>
      </li>
      <li class="nav-item">
       <%= link_to loan_types_path, class: "nav-link sidebar-link" do %>
            <i class="fas fa-plug"></i>
            Loan Types
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to root_path, class: "nav-link sidebar-link" do %>
            <i class="fas fa-cogs"></i>
            Settings
        <% end %>
      </li>
    </ul>
  </div>
</nav>