<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse fin-sb">
  <div class="sidebar-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item sidebar-item">
        <i class="fas fa-tachometer-alt icon-small"></i>
        <%= link_to root_path, class: "nav-link sidebar-link" do %>
          Dashboard
        <% end %>
      </li>
      <li class="nav-item sidebar-item">
        <i class="fas fa-users icon-small"></i>
        <%= link_to members_path, class: "nav-link sidebar-link" do %>
          Members
        <% end %>
      </li>
      <li class="nav-item sidebar-item">
        <i class="fas fa-hand-holding-usd icon-small"></i>
        <%= link_to loans_path, class: "nav-link sidebar-link" do %>
          Loans
        <% end %>
      </li>
      <li class="nav-item sidebar-item">
        <i class="fas fa-credit-card icon-small"></i>
        <%= link_to payments_path, class: "nav-link sidebar-link" do %>
          Payments
        <% end %>
      </li>
      <li class="nav-item sidebar-item">
        <i class="fas fa-plug icon-small"></i>
        <%= link_to loan_types_path, class: "nav-link sidebar-link" do %>
          Loan Types
        <% end %>
      </li>
      <li class="nav-item sidebar-item">
        <i class="fas fa-cogs icon-small"></i>
        <%= link_to root_path, class: "nav-link sidebar-link" do %>
          Settings
        <% end %>
      </li>
    </ul>
  </div>
</nav>
