<%= form_with(model: member, local: true) do |form| %>
<% if member.errors.any? %>
<div id="error_explanation" class="alert alert-danger">
   <h2><%= pluralize(member.errors.count, "error") %> prohibited this member from being saved:</h2>
   <ul>
      <% member.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
   </ul>
</div>
<% end %>
<div class="form-group bg-dark rounded p-3">
   <div class="form-row">
      <div class="form-group col-md-3">
         <%= form.label :member_id, 'Member ID <small>(autofilled)</small>'.html_safe, class: 'form-label' %>
         <%= form.text_field :member_id, class: 'form-control', readonly: true %>
      </div>
      <div class="form-group col-md-3">
         <%= form.label :first_name, class: 'form-label' %>
         <%= form.text_field :first_name, class: 'form-control', placeholder: "Juan" %>
      </div>
      <div class="form-group col-md-3">
         <%= form.label :middle_name, class: 'form-label' %>
         <%= form.text_field :middle_name, class: 'form-control', placeholder: "Dela" %>
      </div>
      <div class="form-group col-md-3">
         <%= form.label :last_name, class: 'form-label' %>
         <%= form.text_field :last_name, class: 'form-control', placeholder: "Cruz" %>
      </div>
   </div>
   <div class="form-row">
      <div class="form-group col-md-4">
         <%= form.label :complete_address, class: 'form-label' %>
         <%= form.text_area :complete_address, class: 'form-control', placeholder: "123 Main Street", rows: 1 %>
      </div>
      <div class="form-group col-md-4">
         <%= form.label :contact_number, class: 'form-label' %>
         <%= form.text_field :contact_number, class: 'form-control', placeholder: "09123456789" %>
      </div>
      <div class="form-group col-md-4">
         <%= form.label :email_address, class: 'form-label' %>
         <%= form.email_field :email_address, class: 'form-control', placeholder: "juandelacruz@example.com" %>
      </div>
   </div>
   <div class="form-row">
      <div class="form-group col-md-3">
         <%= form.label :gender, class: 'form-label' %>
         <%= form.select :gender, [['Male', 'Male'], ['Female', 'Female']], { prompt: 'Select Gender' }, class: 'form-control' %>
      </div>
      <div class="form-group col-md-3">
         <%= form.label :civil_status, class: 'form-label' %>
         <%= form.select :civil_status, [['Single', 'Single'], ['Married', 'Married'], ['Divorced', 'Divorced'], ['Widowed', 'Widowed']], { prompt: 'Select Civil Status' }, class: 'form-control' %>
      </div>
      <div class="form-group col-md-3">
         <%= form.label :birthdate, class: 'form-label' %>
         <%= form.text_field :birthdate, placeholder: 'YYYY-MM-DD', class: 'form-control datepicker' %>
      </div>
      <div class="form-group col-md-3">
         <%= form.label :age, "Age <small>(autofilled)</small>".html_safe, class: 'form-label' %>
         <%= form.number_field :age, class: 'form-control', id: 'age-field', readonly: true %>
      </div>
   </div>
   <div class="form-row">
      <div class="form-group col-md-3">
         <%= form.label :username, class: 'form-label' %>
         <%= form.text_field :username, class: 'form-control' %>
      </div>
      <div class="form-group col-md-3">
         <%= form.label :password, class: 'form-label' %>
         <%= form.password_field :password, class: 'form-control' %>
      </div>
      <div class="form-group col-md-3">
         <%= form.label :password_confirmation, class: 'form-label' %>
         <%= form.password_field :password_confirmation, class: 'form-control' %>
      </div>
            <div class="form-group col-md-3">
         <%= form.label :profile_picture, class: 'form-label' %>
         <%= form.file_field :profile_picture, class: 'form-control no-border bg-transparent text-light' %>
      </div>
   </div>
   <div class="form-group form-check">
      <%= form.check_box :account_status, { class: 'form-check-input' }, '1', '0' %>
      <%= form.label :account_status, 'Active Member?', class: 'form-check-label' %>
   </div>
   <div class="actions">
      <%= form.submit "Submit", class: 'btn btn-fin' %>
   </div>
</div>
<% end %>