  <div class="d-flex justify-content-between align-items-center mb-3">
    <h3>All Members</h3>
    <%= link_to new_member_path, class: 'btn btn-dark text-fin' do %>
      <i class="fas fa-plus"></i> New Member
    <% end %>
  </div>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <%# <th>Profile Picture</th> %>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @members.each do |member| %>
      <tr>
        <%# <td> %>
          <%# if member.profile_picture.present? %>
            <%#= image_tag(member.profile_picture.url, width: 50, height: 50) %>
          <%# end %>
        <%# </td> %>
        <td><%= member.member_id %></td>
        <td><%= member.full_name %></td>
        <td><%= member.email_address %></td>
        <td>
          <% if member.account_status == 1 %>
              <span class="badge badge-pill badge-success">Active</span>
            <% else %>
              <span class="badge badge-pill badge-secondary">Inactive</span>
          <% end %>
        </td>
        <td>
          <%= link_to member_path(member), class: 'btn btn-info btn-sm' do %>
            <i class="fas fa-eye"></i>
          <% end %>

          <%= link_to edit_member_path(member), class: 'btn btn-primary btn-sm' do %>
            <i class="fas fa-edit"></i>
          <% end %>

          <%= link_to member_path(member), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
      </td>
      </tr>
    <% end %>
  </tbody>
<%= will_paginate @members, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>